.c-contact{
    background-color: c('bright-blue');
    height: 100%;
    min-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    padding: 0 40px 20px;
    position: relative;
    font-family: 'Pieces of Eight';
    &--title{
        margin-top: 70px;
        text-align: center;
        font-size: 32px;
        text-decoration: underline;
    }
    &__footer{
        background-color: black;
        width: 100%;
        min-height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            padding: 7px;
            text-align: center;
            color: white;
            font-size: 18px;
        }
    }
    &__presentation{
        margin-bottom: 20px;
        margin-right: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        &--img{
            height: 160px;
            margin-right: 10px;
        }
        p{
            font-size: 18px;
        }
    }
    &--container{
        display: flex;
        margin-top: 7px;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    button {
        height: 30px;
        width: 100px;
        margin: auto;
        margin-top: 0px;
    }
}

.c-social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    img{
        width: 200px;
    }
    span{
        color: c('dark-blue');
        width: 100px;
    }
}
.c-social-container:hover span{
    font-family: 'Avenir LT Std 85 Heavy';
}

@include medium {
    @import'medium';
}

@include large {
    @import'large';
}