.c-room{
    &--game{
        width: 43%;
        height: auto;
    }
    &__chat-box{
        width: 45%;
        height: 75%;
        min-height: 385px;
    }
    &--top{
        flex-direction: row;
        margin-top: 15px;
        justify-content: space-around;
    }
    &--players{
        height: 60%;
        display: block;
        min-height: 310px;
    }
    &--chat{
        height: 82%;
    }
}