.c-room{
    height: 100vh;
    background-color: c('bright-blue');
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    overflow: auto;
    position: relative;
    font-family: 'Pieces of Eight';
    &--title{
        margin-top: 60px;
        margin-block-end: 10px;
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
    }
    &--top{
        display: flex;
        justify-content: right;
        flex-direction: column;
        //height: 84%;
        height: calc(100vh - 104px);
        width: 100%;
    }
    &--game{
        width: 100%;
        height: 59%;
    }
    &--players{
        background-color: c('medium-blue');
        width: calc(100% - 30px);
        height: calc(100% - 80px - 30px);
        min-height: 220px;
        padding: 10px 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        overflow: auto;
        position: relative;
    }
    &__chat-box{
        background-color: c('medium-blue');
        height: 100%;
        width: calc(100% - 30px);
        padding: 15px;
        border-radius: 5px;
        min-height: 175px;
        margin-bottom: 10px;
        &--in-game{
            display: none;
        }
    }
    &--chat{
        background-color: c('more-bright-blue');
        width: calc(100% - 30px);
        border-radius: 10px;
        height: calc(100% - 70px);
        padding: 5px 15px;
        overflow: auto;
        p{
            font-size: 20px;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
        }
    }
    &--buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
}

.send-button{
    height: 50px;
    width: fit-content;
    background-color: c('upper-blue');
    padding: 15px;
    font-size: 16px;
    font-family: 'Pieces of Eight';
    display: flex;
    align-items: center;
    margin: 0 10px 0 15px;
    border-radius: 7px;
    color: c('white');
    border: none;
    transition-duration: 0.3s;
}

.send-button:hover{
    background-color: c('dark-blue');
}

.c-chat{
    margin-top: 8px;
    display: flex;
    align-items: center;
    input{
        background: c('light-gray');
        height: 38px;
        padding: 0 10px;
        border: none;
        border-radius: 5px;
        width: 100%;
    }
}

.Toastify__toast-container{
    width: 420px !important;
}

.Toastify__toast{
    font-family: 'Pieces of Eight' !important;
    font-size: 24px;
    text-align: center;
    line-height: 22px
}

@include medium {
    @import'medium';
}
@include large {
    @import'large';
}