.c-game{
    height: 100vh;
    background-color: c('bright-blue');
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: 'Pieces of Eight';
    &__other-mobile-buttons{
        display: flex;
        justify-content: center;
        padding: 20px 0 10px;
        background-color: c('more-upper-blue');
        border-top: 1px solid c('bright-blue');
    }
    &--title{
        margin-top: 55px;
        text-align: center;
        font-size: 17px;
        text-decoration: underline;
        text-shadow: 0 0 0.2em #FFF;
        margin-block-end: 3px;
    }
    &--turn{
        display: none;
    }
    &__players{
        background-color: c('medium-blue');
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        position: absolute;
        padding-bottom: 2px;
        height: calc(25vh - 5px);
        border-bottom: 2px solid c('dark-blue');
        &--players{
            margin-top: 2px;
            width: 90%;
            display: flex;
            flex-direction: column;
        }
    }
    &__game{
        background-color: c('bright-blue');
        width: calc(100% - 10px);
        height: 55vh;
        overflow-y: scroll;
        position: absolute;
        padding: 8px 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25vh;
    }
    &__exit{
        position: absolute;
        bottom: 10px;
        display: none;
    }
    &__actions{
        background-color: c('medium-blue');
        width: 100%;
        position: relative;
        margin-top: calc(8px + 80vh);
        z-index: 10;
        border-top: 2px solid c('dark-blue');
        &--title {
            margin-top: 10px;
            position: absolute;
            top: -25px;
            background-color: c('medium-blue');
            border-top: 2px solid c('dark-blue');
            border-radius: 7px;
            padding: 5px;
            left: 14px;
        }
        &--container{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 13px;
            width: 100%;
            padding-bottom: 30px;
            flex-wrap: wrap;
        }
        &--value{
            background-color: c('dark-medium-blue');
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            width: 36%;
            right: 32%;
            height: 47px;
            justify-content: center;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            border: 1px solid c('bright-blue');
            border-bottom: none;
            span{
                font-size: 32px;
                margin-left: 20px;
                color: white;
            }
        }
        &--valknut{
            width: 33px;
        }
    }
    &__dices{
        background-color: c('medium-blue');
        width: 90%;
        padding: 10px 5px 5px 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 6px;
        border-radius: 5px;
        flex-wrap: wrap;
        &--box{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &--title{
            color: c('white');
            margin-block-start: 0px;
            margin-block-end: 8px;
            font-size: 23px;
            font-weight: 100;
        }
    }
    &__selectedDices{
        width: 230px;
        height: 90px;
        border-radius: 5px;
        padding: 5px;
        background-color: c('other-blue');
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        span{
            color: white;
            margin: 0px;
            margin-block-start: 5px;
        }
    }
    &__partialRunes{
        width: 75px;
        height: 100px;
        margin-right: 10px;
        border-radius: 5px;
        padding: 5px;
        background-color: c('other-blue');
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 0px;
        span{
            z-index: 5;
            color: white;
            text-shadow: 0 0 0.2em #000;
            margin: 5px;
            margin-block-start: 10px;
        }
    }
    &__selected-wrapper{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        width: 100%;
    }
    &__interface{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        justify-content: center;
    }
    &__skull{
        width: 125px;
        &--text{
            font-size: 25px;
            text-align: center;
            font-weight: 900;
            color: c('blood');
        }
    }
    &__rune--watermark{
        margin-top: -5px;
        width: 40px;
        padding: 35px 10px 30px;
        opacity: 0.7;
        position: absolute;
        z-index: 3;
    }
}

#partial-runes{
    font-size: 40px;
    margin-block-start: 5px;
    text-shadow: 0 0 0.2em #000;
    font-weight: 900;
    color: c('white')
}

#in-game-buttons{
    margin-top: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.Toastify__toast--dark{
    white-space: pre-wrap;
}
.Toastify__toast{
    white-space: pre-wrap;
}
.Toastify__toast-body{
    width: 100%;
}

.hidden{
    display: none !important;
}

.flex-div{
    min-width: 120px;
    display: flex;
    align-items: center;
}

#common-view{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

@include medium {
    @import'medium';
}
@include large {
    @import'large';
}