.c-game{
    height: 100vh;
    background-color: c('bright-blue');
    display: flex;
    flex-direction: row;
    overflow: auto;
    position: relative;
    font-family: 'Pieces of Eight';
    &--title{
        margin-top: 55px;
        text-align: center;
        font-size: 32px;
        text-decoration: underline;
        text-shadow: 0 0 0.2em #FFF;
        margin-block-end: 0.35em;
    }
    &__players{
        background-color: c('medium-blue');
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--players{
            margin-top: 10px;
            width: 90%;
            display: flex;
            flex-direction: column;
        }
    }
    &__game{
        background-color: c('bright-blue');
        width: 50%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__exit{
        position: absolute;
        bottom: 10px;
    }
    &__actions{
        background-color: c('medium-blue');
        width: 400px;
        position: relative;
        &--container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
        &--value{
            background-color: c('dark-medium-blue');
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            width: 40%;
            right: 30%;
            height: 65px;
            justify-content: center;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            border: 1px solid c('bright-blue');
            border-bottom: none;
            span{
                font-size: 36px;
                margin-left: 20px;
                color: white;
            }
        }
        &--valknut{
            width: 40px;
        }
    }
    &__dices{
        background-color: c('medium-blue');
        width: 90%;
        padding: 10px 5px 5px 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
        border-radius: 5px;
        flex-wrap: wrap;
        &--box{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &--title{
            color: c('white');
            margin-block-start: 0px;
            margin-block-end: 8px;
            font-size: 26px;
            font-weight: 100;
        }
    }
    &__selectedDices{
        width: 300px;
        height: 120px;
        border-radius: 5px;
        padding: 5px;
        background-color: c('medium-blue');
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            color: white;
            margin: 5px;
            margin-block-start: 10px;
        }
    }
    &__partialRunes{
        width: 130px;
        height: 100px;
        margin-right: 20px;
        border-radius: 5px;
        padding: 5px;
        background-color: c('medium-blue');
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        span{
            z-index: 5;
            color: white;
            text-shadow: 0 0 0.2em #000;
            margin: 5px;
            margin-block-start: 10px;
        }
    }
    &__selected-wrapper{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        width: 100%;
    }
    &__interface{
        width: 90%;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        justify-content: center;
    }
    &__skull{
        width: 125px;
        &--text{
            font-size: 25px;
            text-align: center;
            font-weight: 900;
            color: c('blood');
        }
    }
    &__rune--watermark{
        background: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 90%);
        padding: 35px 45px 30px;
        margin-top: -5px;
        width: 40px;
        opacity: 0.5;
        position: absolute;
        z-index: 3;
    }
}

#partial-runes{
    font-size: 40px;
    margin-block-start: 5px;
    text-shadow: 0 0 0.2em #000;
    font-weight: 900;
    color: c('white')
}

#in-game-buttons{
    display: flex;
    align-items: center;
}

.Toastify__toast--dark{
    white-space: pre-wrap;
}
.Toastify__toast{
    white-space: pre-wrap;
}
.Toastify__toast-body{
    width: 100%;
}

.hidden{
    display: none !important;
}

.flex-div{
    min-width: 120px;
    display: flex;
    align-items: center;
}

#common-view{
    display: flex;
    align-items: center;
}