.c-action{
    width: 85%;
    background-color: c('bright-blue');
    border-radius: 5px;
    position: relative;
    margin-bottom: 35px;
    transition: 0.2s;
    cursor: pointer;
    display: none;
    &--disabled{
        width: 85%;
        background-color: gray;
        border-radius: 5px;
        position: relative;
        margin-bottom: 35px;
        cursor: not-allowed;
        display: none;
        .c-action__cost{
            background-color: gray;
            color: black;
            border: 2px solid darkgray;
        }
    }
    &__book-wrap{
        position: absolute;
        display: flex;
        bottom: 4px;
        right: 4px;
    }
    &__book-icon{
        width: 18px;
        height: 18px;
        margin-right: 3px;
    }
    &__info{
        text-align: center;
        padding: 14px 15px 10px;
        align-items: center;
        display: flex;
        justify-content: center;
        span{
            color: black;
            font-size: 24px;
        }
        &--icon{
            width: 26px;
            margin-left: 4px;
        }
    }
    &__cost{
        font-size: 26px;
        background-color: c('upper-blue');
        position: absolute;
        border-radius: 50%;
        border: 2px solid c('more-bright-blue');
        width: 29px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -19px;
        top: -19px;
        color: c('white')
    }
}

.c-action-mobile{
    height: 50px;
    width: 90px;
    background-color: c('bright-blue');
    border-radius: 5px;
    position: relative;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    &--disabled{
        height: 50px;
        width: 90px;
        background-color: gray;
        border-radius: 5px;
        position: relative;
        margin-bottom: 0px;
        margin-left: 7px;
        margin-top: 10px;
        margin-right: 23px;
        cursor: not-allowed;
        display: flex;
        justify-content: center;
        .c-action__cost{
            background-color: gray;
            color: black;
            border: 2px solid darkgray;
        }
    }
}

.c-action:hover{
    background-color: c('more-upper-blue');
    .c-action__info{
        span{
            color: white;
        }
    }
}

.c-action:active{
    background-color: c('dark-medium-blue');
    .c-action__info{
        span{
            color: #9198e5;
        }
    }
    .c-action__cost{
        background-color: c('dark-medium-blue');
        border: 2px solid c('bright-blue');
        color: #9198e5;
    }
}

.counter__container {
    margin-top: 0em;
    height: 4em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
}

.counter__screen {
    height: 2em;
    width: 8em;
    background-color: lightgray;
    border-radius: 0.5em;
    margin-top: 0.75em;
    color: black;
}
  
.counter__value {
    font-weight: 800;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    font-size: 1.5em;
    margin-top: 0.1em;
    text-align: center;
}
  
.counter__button{
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    border-radius: 50%;
    margin-top: 0.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: c('more-bright-blue');
}

.counter__button--value {
    font-weight: 800;
    font-size: 1.2em;
    margin-block-start: 0.2em;
    margin-block-end: 0.1em;
    font-family: 'Courier New', Courier, monospace;
}

.counter__box{
    display: flex;
    align-items: center;
    width: 15em;
    margin: auto;
}


@include medium {
    @import'medium';
}
@include large {
    @import'large';
}