.c-modal {
    width: 70vw;
    height: 75vh;
    left: calc(15vw - 20px);
    padding: 20px;
    &__history{
        &--content{
            padding: 20px 30px 0 10px;
            margin-top: 280px;
            height: 38%;
            span{
                font-size: 24px;
            }
        }
    }
    &--logo{
        margin-top: 0;
        height: 50%;
    }
}

.modal-background-video{
    margin: -20px 0 0 -20px;
}