.c-modal {
    width: 70vw;
    height: 75vh;
    left: calc(15vw - 20px);
    padding: 20px;
    &__history{
        &--content{
            padding: 20px 30px 0 10px;
            margin-top: 280px;
            height: 38%;
            span{
                font-size: 24px;
            }
        }
    }
    &--logo{
        margin-top: 0;
        height: 50%;
    }
    &--cross{
        top: 10px;
        right: 10px;
    }
    &__dices{
        display: flex;
    }
    &__content-help{
        .c-modal__help-wrapper{
            width: auto;
            justify-content: center;
        }
    }
}

.modal-background-video{
    margin: -20px 0 0 -20px;
}

.c-slider{
    &__text{
        padding: 0 70px 0 70px;
        font-size: 24px;
        h3{
            margin-block-end: 1.2em;
        }
        &--first{
            margin-block-start: 0.75em !important; 
        }
        &--span{
            flex-wrap: wrap;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            p{
                text-align: center;
            }
        }
    }
}

.cube{
    margin-right: 30px;
    margin-left: 30px;
}