.c-modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    z-index: 8;
}
.c-modal {
    background-color: gray;
    width: 70vw;
    height: 75vh;
    position: fixed;
    left: calc(15vw - 20px);
    top: 12.5vh;
    z-index: 9;
    padding: 20px;
    display: flex;
    justify-content: center;
    &__dices{
        display: flex;
        justify-content: center;
    }
    &__dice{
        width: 26px;
        height: 26px;
        border: 2px solid black;
        margin: 0 8px;
        &--green{
            background-color: green;
        }
        &--yellow{
            background-color: yellow;
        }
        &--red{
            background-color: red;
        }
    }
    &__instructions{
        &--icon{
            margin: 0 8px;
            width: 30px;
        }
    }
    &__history{
        &--content{
            padding: 20px 30px 0 10px;
            overflow: auto;
            z-index: 4;
            margin-top: 280px;
            height: 38%;
            position: relative;
            font-family: 'Pieces of Eight';
            color: white;
            text-align: center;
            background-color: rgba(0,0,0,0.3);
            span{
                font-size: 25px;
            }
        }
    }
    &--logo{
        position: absolute;
        z-index: 4;
        height: 50%;
        object-fit: cover;
    }
    &--cross{
        width: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 5;
        background-color: rgba(255,255,255,0.5);
        border-radius: 50%;
    }
    &--content{
        overflow: auto;
        height: 100%;
        p{
            font-size: 20px;
        }
        h3{
            font-size: 22px;
        }
    }
}

.modal-background-video{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -20px 0 0 -20px;
    z-index: 3;
    object-fit: cover;
}

.c-slider{
    height: 93%;
    min-width: 100%;
    min-height: 93%;
    &__text{
        color: white;
        display: block;
        font-family: 'Pieces of Eight';
        font-size: 24px;
        padding: 0 70px 0 70px;
        text-align: center;
        width: 100%;
        p{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.awssld__container{
    height: 100% !important;
    padding-bottom: 0px !important;
}


  
  @include medium {
      @import'medium';
  }
  @include large {
      @import'large';
  }