.c-header {
  background-color: #0e0938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  z-index: 12;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 0px 30px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.c-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.c-header--logo {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.c-header--logo img {
  height: 80%;
}

.c-header--icon {
  display: block;
  width: 35px;
}

.c-header-mobile {
  background-color: #0e0938;
  position: fixed;
  width: 300px;
  height: 100%;
  right: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid white;
}

.c-header-mobile--baseHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding: 0px 20px;
  border-bottom: 1px solid white;
}

.c-header-mobile--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
  font-size: 24px;
}

.c-header-mobile--icon {
  width: 22px;
  cursor: pointer;
}

.c-header-mobile--icon__rotate {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.c-header-mobile--icon__rotate2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
}

.c-header-mobile--option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  height: 60px;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
  font-size: 24px;
}

.c-header-mobile--optionTitle {
  padding: 0px 20px;
  height: 60px;
  color: white;
  border-bottom: 1px solid white;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  text-decoration: underline;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  font-size: 24px;
}

.c-header-mobile--option:hover {
  text-decoration: underline;
}

.c-header-mobileWrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 13;
  font-family: 'Pieces of Eight';
}

a:link {
  line-height: 24px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
 *  SCROLLBAR
 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #8598aa;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #8598aa;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8598aa;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0e0938), color-stop(#485d78), to(#0e0938));
  background-image: linear-gradient(to top, #0e0938, #485d78, #0e0938);
}

.opacity-off {
  opacity: 0;
  display: none !important;
}

.c-config__nickname-modal {
  background-color: #333333;
  position: absolute;
  width: 70%;
  padding: 20px;
  margin: 25vh calc(15% - 20px);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 30;
  color: white;
  font-family: 'Pieces of Eight';
}

.c-config__nickname-modal--title {
  font-size: 26px;
  text-decoration: underline;
}

.c-config__nickname-modal--input {
  width: calc(100% - 20px);
  height: 20px;
}

.c-config__nickname-modal--form {
  width: 100%;
}

.c-config__nickname-modal .send-button {
  font-size: 22px;
}

.c-config__avatar-modal {
  width: 80%;
  padding: 15px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin: 18vh calc(10% - 15px);
  text-align: center;
  color: white;
  z-index: 30;
  font-family: 'Pieces of Eight';
}

.c-config__avatar-modal--title {
  font-size: 26px;
  text-decoration: underline;
}

.c-config__avatar-modal .c-button {
  font-size: 22px;
}

.c-config__avatar-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 100%;
  margin-bottom: 10px;
}

.c-config__avatar-img {
  margin: 0 10px;
  height: 68px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 50%;
  border: 2px solid black;
}

.c-config__avatar-img--selected {
  margin: 0px 10px 0px 10px;
  border: 7px solid #397201;
}

.c-config__avatar-img--selected:hover {
  border: 5px solid limegreen !important;
  margin: 2px 12px 2px 12px;
}

.c-config__avatar-img:hover {
  border: 5px solid #c0bea1;
  margin: 2px 12px 2px 12px;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .c-config__nickname-modal {
    height: 240px;
    width: 35%;
    margin: 15% 30%;
    padding: 0px;
  }
  .c-config__nickname-modal--form {
    width: 85%;
  }
  .c-config__avatar-modal {
    height: 600px;
    width: 40%;
    margin: 4% 30%;
    padding: 0;
  }
  .c-config__avatar-img {
    margin: 0 15px;
    height: 125px;
  }
  .c-config__avatar-box {
    height: 450px;
  }
}

.c-home {
  height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.c-home--logo {
  width: 55%;
}

.c-home--runes {
  position: absolute;
  width: 75%;
}

.c-home img {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 1;
}

.c-home .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.c-home .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.c-home .rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation: rotate 12s linear infinite;
  animation: rotate 12s linear infinite;
}

.c-home--presentation {
  position: absolute;
  color: white;
  text-align: center;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0;
  margin-top: 30vh;
  z-index: 2;
}

.c-home--presentation span {
  font-family: 'Pieces of Eight';
  font-size: 20px;
}

.c-home--background-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.c-gbutton__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 5px;
  padding-right: 15px;
  font-family: 'Pieces of Eight';
  font-size: 24px;
  background: radial-gradient(black, rgba(0, 0, 0, 0));
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.c-gbutton__home:hover {
  background-color: black;
}

.background-video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overflowHidden {
  overflow: hidden;
}

.notDisplay {
  display: none;
}

.c-not-found {
  margin-top: 80px;
  font-size: 24px;
  text-align: center;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .c-home--logo {
    width: 30%;
  }
  .c-home--runes {
    width: 40%;
  }
  .c-home--presentation {
    margin-top: 45vh;
  }
}

.flip-card {
  background-color: transparent;
  width: 41px;
  height: 41px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-flipped .flip-card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  width: 32px;
  margin-top: 1px;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  font-size: 13px;
  z-index: 1;
}

.flip-card-back--green {
  background-color: green;
}

.flip-card-back--yellow {
  background-color: #FFC332;
}

.flip-card-back--red {
  background-color: red;
}

.flipped-card-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .flip-card {
    background-color: transparent;
    width: 55px;
    height: 55px;
  }
  .flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icon {
    width: 40px;
    margin-top: 0;
  }
}

.c-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  z-index: 13;
}

.c-modal {
  background-color: gray;
  width: 86vw;
  height: 75vh;
  position: fixed;
  left: calc(7vw - 10px);
  top: 12.5vh;
  z-index: 15;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-modal__dices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-modal__dice {
  width: 26px;
  height: 26px;
  border: 2px solid black;
  margin: 0 8px 0 30px;
}

.c-modal__dice--green {
  background-color: green;
}

.c-modal__dice--yellow {
  background-color: #FFC332;
}

.c-modal__dice--red {
  background-color: red;
}

.c-modal__instructions--icon {
  margin: 0 8px;
  width: 30px;
}

.c-modal__history--content {
  padding: 15px 18px 0 10px;
  overflow: auto;
  z-index: 4;
  margin-top: 41vh;
  height: 43%;
  position: relative;
  font-family: 'Pieces of Eight';
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.c-modal__history--content span {
  font-size: 22px;
}

.c-modal--logo {
  position: absolute;
  z-index: 4;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 7vh;
}

.c-modal--cross {
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.c-modal--content {
  overflow: auto;
  height: 100%;
}

.c-modal--content p {
  font-size: 20px;
}

.c-modal--content h3 {
  font-size: 22px;
}

.modal-background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0 0 -10px;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-slider {
  height: 93%;
  min-width: 100%;
  min-height: 93%;
}

.c-slider__text {
  color: white;
  display: block;
  font-family: 'Pieces of Eight';
  font-size: 24px;
  padding: 0 70px 0 70px;
  text-align: center;
  width: 100%;
}

.c-slider__text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awssld__container {
  height: 100% !important;
  padding-bottom: 0px !important;
}

.wrap {
  margin-top: 35px;
  margin-bottom: 10px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cube {
  margin: auto;
  margin-right: 30px;
  margin-left: 30px;
  position: relative;
  height: 60px;
  width: 60px;
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: rotate-dice 20s infinite linear;
  -webkit-animation: rotate-dice 20s infinite linear;
}

.cube div {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  border: solid 1px #000;
  color: #ffffff;
}

.front {
  transform: translateZ(30px);
  -ms-transform: translateZ(30px);
  -webkit-transform: translateZ(30px);
}

.back {
  transform: translateZ(-30px) rotateY(180deg);
  -webkit-transform: translateZ(-30px) rotateY(180deg);
  -ms-transform: translateZ(-30px) rotateY(180deg);
}

.right {
  transform: rotateY(-270deg) translateX(30px);
  -ms-transform: rotateY(-270deg) translateX(30px);
  -webkit-transform: rotateY(-270deg) translateX(30px);
  transform-origin: top right;
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
}

.left {
  transform: rotateY(270deg) translateX(-30px);
  -webkit-transform: rotateY(270deg) translateX(-30px);
  -ms-transform: rotateY(270deg) translateX(-30px);
  transform-origin: center left;
  -ms-transform-origin: center left;
  -webkit-transform-origin: center left;
}

.top {
  transform: rotateX(-270deg) translateY(-30px);
  -webkit-transform: rotateX(-270deg) translateY(-30px);
  -ms-transform: rotateX(-270deg) translateY(-30px);
  transform-origin: top center;
  -ms-transform-origin: top center;
  -webkit-transform-origin: top center;
}

.bottom {
  transform: rotateX(270deg) translateY(30px);
  -webkit-transform: rotateX(270deg) translateY(30px);
  -ms-transform: rotateX(270deg) translateY(30px);
  transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
}

.background-green {
  background-color: green;
}

.background-yellow {
  background-color: #FFC332;
}

.background-red {
  background-color: red;
}

@keyframes rotate-dice {
  from {
    transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-webkit-keyframes rotate-dice {
  from {
    transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .c-modal {
    width: 70vw;
    height: 75vh;
    left: calc(15vw - 20px);
    padding: 20px;
  }
  .c-modal__history--content {
    padding: 20px 30px 0 10px;
    margin-top: 280px;
    height: 38%;
  }
  .c-modal__history--content span {
    font-size: 24px;
  }
  .c-modal--logo {
    margin-top: 0;
    height: 50%;
  }
  .modal-background-video {
    margin: -20px 0 0 -20px;
  }
}

.c-room {
  height: 100vh;
  background-color: #8598aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
  overflow: auto;
  position: relative;
  font-family: 'Pieces of Eight';
}

.c-room--title {
  margin-top: 60px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

.c-room--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 104px);
  width: 100%;
}

.c-room--game {
  width: 100%;
  height: 59%;
}

.c-room--players {
  background-color: #485d78;
  width: calc(100% - 30px);
  height: calc(100% - 80px - 30px);
  min-height: 220px;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  overflow: auto;
  position: relative;
}

.c-room__chat-box {
  background-color: #485d78;
  height: 100%;
  width: calc(100% - 30px);
  padding: 15px;
  border-radius: 5px;
  min-height: 175px;
  margin-bottom: 10px;
}

.c-room__chat-box--in-game {
  display: none;
}

.c-room--chat {
  background-color: #a1b1c0;
  width: calc(100% - 30px);
  border-radius: 10px;
  height: calc(100% - 70px);
  padding: 5px 15px;
  overflow: auto;
}

.c-room--chat p {
  font-size: 20px;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.c-room--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.send-button {
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #263e5e;
  padding: 15px;
  font-size: 16px;
  font-family: 'Pieces of Eight';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 15px;
  border-radius: 7px;
  color: white;
  border: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.send-button:hover {
  background-color: #0e0938;
}

.c-chat {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-chat input {
  background: #e6e7e8;
  height: 38px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.Toastify__toast-container {
  width: 420px !important;
}

.Toastify__toast {
  font-family: 'Pieces of Eight' !important;
  font-size: 24px;
  text-align: center;
  line-height: 22px;
}

@media only screen and (min-width: 768px) {
  .c-room {
    padding: 0 40px;
  }
  .c-room--top {
    height: 100%;
    margin-top: 10px;
  }
  .c-room--game {
    height: 55%;
    min-height: 290px;
  }
  .c-room--players {
    margin-bottom: 20px;
    height: 60%;
    min-height: 180px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .c-room__chat-box {
    width: calc(100% - 30px);
    height: 36%;
  }
  .c-room--buttons {
    margin-bottom: 20px;
  }
  .c-room--chat {
    height: 63%;
  }
  .c-room--title {
    margin-top: 70px;
    font-size: 32px;
  }
  .c-room__chat-box--in-game {
    display: block;
    background-color: #485d78;
    height: 15%;
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    padding-bottom: 46px;
  }
  .c-room__chat-box--in-game .c-room--chat {
    height: 75%;
  }
  .c-room__chat-box--in-game .c-chat {
    margin-top: 0px;
  }
  .c-chat {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .c-room--game {
    width: 43%;
    height: auto;
  }
  .c-room__chat-box {
    width: 45%;
    height: 75%;
    min-height: 385px;
  }
  .c-room--top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .c-room--players {
    height: 60%;
    display: block;
    min-height: 310px;
  }
  .c-room--chat {
    height: 82%;
  }
}

.c-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #263e5e;
  padding: 8px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 6px;
  border-radius: 7px;
  color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  text-align: center;
  cursor: pointer;
  margin-bottom: 2px;
}

.c-button--disabled {
  background-color: gray;
  color: black;
  cursor: not-allowed;
}

.c-button:hover {
  background-color: #0e0938;
}

.c-button--disabled:hover {
  background-color: gray;
}

@media only screen and (min-width: 768px) {
  .c-button {
    margin: 0 20px;
    padding: 15px;
  }
}

.c-roomPlayer {
  background-color: #a1b1c0;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.c-roomPlayer__img {
  margin: 0 20px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
}

.c-roomPlayer__name {
  font-size: 28px;
}

.c-roomPlayer__ready {
  font-size: 14px;
  margin-left: 25px;
}

.c-roomPlayer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-roomPlayer__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .c-roomPlayer__container {
    width: 49%;
  }
}

@media only screen and (min-width: 1024px) {
  .c-roomPlayer__container {
    width: 100%;
  }
}

.c-arrow {
  background-color: #0e0938;
  border: 1px solid gray;
  border-radius: 15%;
  position: fixed;
  bottom: 35px;
  right: 40px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-contact {
  background-color: #8598aa;
  height: 100%;
  min-height: calc(100vh - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px 20px;
  position: relative;
  font-family: 'Pieces of Eight';
}

.c-contact--title {
  margin-top: 70px;
  text-align: center;
  font-size: 32px;
  text-decoration: underline;
}

.c-contact__footer {
  background-color: black;
  width: 100%;
  min-height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-contact__footer span {
  padding: 7px;
  text-align: center;
  color: white;
  font-size: 18px;
}

.c-contact__presentation {
  margin-bottom: 20px;
  margin-right: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-contact__presentation--img {
  height: 160px;
  margin-right: 10px;
}

.c-contact__presentation p {
  font-size: 18px;
}

.c-contact--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-contact button {
  height: 30px;
  width: 100px;
  margin: auto;
  margin-top: 0px;
}

.c-social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.c-social-container img {
  width: 200px;
}

.c-social-container span {
  color: #0e0938;
  width: 100px;
}

.c-social-container:hover span {
  font-family: 'Avenir LT Std 85 Heavy';
}

@media only screen and (min-width: 768px) {
  .c-contact__presentation--img {
    height: 230px;
  }
  .c-contact__presentation span {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .c-contact__presentation {
    width: 47%;
  }
  .c-contact__presentation--img {
    height: 300px;
  }
  .c-contact__presentation span {
    font-size: 24px;
  }
}

.c-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  max-width: 100%;
  margin-bottom: 60px;
}

.c-form--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-form--checkbox label {
  margin-left: 15px;
  margin-top: 4px;
  font-size: 22px;
}

.c-form--checkbox input {
  background-color: #e6e7e8;
  border-radius: 5px;
  border: none;
  margin: 10px 0px;
  height: 17px;
  padding: 10px 10px;
  width: 17px;
}

.c-form--error {
  border: 2px solid #b50000 !important;
}

.c-form--privacy {
  cursor: pointer;
}

.c-form--privacy:hover {
  cursor: pointer;
  text-decoration: underline;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e7e8;
  border: none;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

input {
  background-color: #e6e7e8;
  border-radius: 5px;
  border: none;
  margin: 10px 0px;
  height: 12px;
  padding: 10px 10px;
}

@media only screen and (min-width: 1024px) {
  .c-form {
    margin-bottom: 0px;
  }
}

.c-game {
  height: 100vh;
  background-color: #8598aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  font-family: 'Pieces of Eight';
}

.c-game__other-mobile-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 10px;
  background-color: #1a3150;
  border-top: 1px solid #8598aa;
}

.c-game--title {
  margin-top: 55px;
  text-align: center;
  font-size: 17px;
  text-decoration: underline;
  text-shadow: 0 0 0.2em #FFF;
  -webkit-margin-after: 3px;
          margin-block-end: 3px;
}

.c-game--turn {
  display: none;
}

.c-game__players {
  background-color: #485d78;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  position: absolute;
  padding-bottom: 2px;
  height: calc(25vh - 5px);
  border-bottom: 2px solid #0e0938;
}

.c-game__players--players {
  margin-top: 2px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-game__game {
  background-color: #8598aa;
  width: calc(100% - 10px);
  height: 55vh;
  overflow-y: scroll;
  position: absolute;
  padding: 8px 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25vh;
}

.c-game__exit {
  position: absolute;
  bottom: 10px;
  display: none;
}

.c-game__actions {
  background-color: #485d78;
  width: 100%;
  position: relative;
  margin-top: calc(8px + 80vh);
  z-index: 10;
  border-top: 2px solid #0e0938;
}

.c-game__actions--title {
  margin-top: 10px;
  position: absolute;
  top: -25px;
  background-color: #485d78;
  border-top: 2px solid #0e0938;
  border-radius: 7px;
  padding: 5px;
  left: 14px;
}

.c-game__actions--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 13px;
  width: 100%;
  height: calc(20vh - 19px);
}

.c-game__actions--value {
  background-color: #1c193d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 36%;
  right: 32%;
  height: 47px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 1px solid #8598aa;
  border-bottom: none;
}

.c-game__actions--value span {
  font-size: 32px;
  margin-left: 20px;
  color: white;
}

.c-game__actions--valknut {
  width: 33px;
}

.c-game__dices {
  background-color: #485d78;
  width: 90%;
  padding: 10px 5px 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6px;
  border-radius: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-game__dices--box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-game__dices--title {
  color: white;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 8px;
          margin-block-end: 8px;
  font-size: 23px;
  font-weight: 100;
}

.c-game__selectedDices {
  width: 230px;
  height: 90px;
  border-radius: 5px;
  padding: 5px;
  background-color: #3c4d62;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
}

.c-game__selectedDices span {
  color: white;
  margin: 0px;
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
}

.c-game__partialRunes {
  width: 75px;
  height: 100px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: #3c4d62;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 0px;
  margin-bottom: 0px;
}

.c-game__partialRunes span {
  z-index: 5;
  color: white;
  text-shadow: 0 0 0.2em #000;
  margin: 5px;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
}

.c-game__selected-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  width: 100%;
}

.c-game__interface {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-game__skull {
  width: 125px;
}

.c-game__skull--text {
  font-size: 25px;
  text-align: center;
  font-weight: 900;
  color: #580404;
}

.c-game__rune--watermark {
  margin-top: -5px;
  width: 40px;
  padding: 35px 10px 30px;
  opacity: 0.7;
  position: absolute;
  z-index: 3;
}

#partial-runes {
  font-size: 40px;
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
  text-shadow: 0 0 0.2em #000;
  font-weight: 900;
  color: white;
}

#in-game-buttons {
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
}

.Toastify__toast--dark {
  white-space: pre-wrap;
}

.Toastify__toast {
  white-space: pre-wrap;
}

.Toastify__toast-body {
  width: 100%;
}

.hidden {
  display: none !important;
}

.flex-div {
  min-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#common-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .c-game {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  .c-game__players {
    width: 400px;
    overflow-y: auto;
    height: auto;
    position: relative;
    padding-bottom: 0px;
    border-bottom: none;
  }
  .c-game__players--players {
    margin-top: 10px;
  }
  .c-game__other-mobile-buttons {
    display: none;
  }
  .c-game__dices--title {
    font-size: 26px;
  }
  .c-game--title {
    font-size: 32px;
    -webkit-margin-after: 0.35em;
            margin-block-end: 0.35em;
    display: block;
  }
  .c-game__actions {
    width: 400px;
    margin-top: 0px;
    z-index: 5;
    border-top: none;
  }
  .c-game__actions--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
    margin-bottom: 0px;
    height: auto;
  }
  .c-game__actions--title {
    margin-top: 55px;
    position: initial;
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;
    border: none;
  }
  .c-game__actions--value {
    width: 40%;
    right: 30%;
    height: 65px;
  }
  .c-game__actions--value span {
    font-size: 36px;
  }
  .c-game__actions--valknut {
    width: 40px;
  }
  .c-game__game {
    width: 50%;
    padding: 0 20px;
    margin-top: 0px;
    height: auto;
    overflow-y: auto;
    position: relative;
  }
  .c-game--turn {
    display: block;
  }
  .c-game__exit {
    display: block;
  }
  .c-game__selectedDices {
    width: 280px;
    height: 120px;
    margin-bottom: 7px;
  }
  .c-game__selectedDices span {
    margin: 5px;
    -webkit-margin-before: 10px;
            margin-block-start: 10px;
  }
  .c-game__partialRunes {
    width: 90px;
    height: 100px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 7px;
  }
  .c-game__interface {
    width: 100%;
    margin-bottom: 0px;
  }
  #common-view {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #in-game-buttons {
    margin-top: 0;
    margin-bottom: 7px;
  }
}

.c-action {
  width: 85%;
  background-color: #8598aa;
  border-radius: 5px;
  position: relative;
  margin-bottom: 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  display: none;
}

.c-action--disabled {
  width: 85%;
  background-color: gray;
  border-radius: 5px;
  position: relative;
  margin-bottom: 35px;
  cursor: not-allowed;
  display: none;
}

.c-action--disabled .c-action__cost {
  background-color: gray;
  color: black;
  border: 2px solid darkgray;
}

.c-action__info {
  text-align: center;
  padding: 14px 15px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-action__info span {
  color: black;
}

.c-action__info--icon {
  width: 26px;
  margin-left: 4px;
}

.c-action__cost {
  background-color: #263e5e;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #a1b1c0;
  width: 29px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -19px;
  top: -19px;
  color: white;
}

.c-action-mobile {
  height: 50px;
  width: 90px;
  background-color: #8598aa;
  border-radius: 5px;
  position: relative;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-action-mobile--disabled {
  height: 50px;
  width: 90px;
  background-color: gray;
  border-radius: 5px;
  position: relative;
  margin-bottom: 0px;
  margin-left: 7px;
  margin-right: 23px;
  cursor: not-allowed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-action-mobile--disabled .c-action__cost {
  background-color: gray;
  color: black;
  border: 2px solid darkgray;
}

.c-action:hover {
  background-color: #1a3150;
}

.c-action:hover .c-action__info span {
  color: white;
}

.c-action:active {
  background-color: #1c193d;
}

.c-action:active .c-action__info span {
  color: #9198e5;
}

.c-action:active .c-action__cost {
  background-color: #1c193d;
  border: 2px solid #8598aa;
  color: #9198e5;
}

@media only screen and (min-width: 768px) {
  .c-action-mobile {
    display: none;
  }
  .c-action-mobile--disabled {
    display: none;
  }
  .c-action {
    display: block;
  }
  .c-action--disabled {
    width: 85%;
    display: block;
  }
  .c-action__cost {
    width: 40px;
    height: 40px;
  }
  .c-action__info {
    padding: 10px 15px;
  }
}

.c-gamePlayer {
  background-color: #c0bea1;
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 5px 0;
}

.c-gamePlayer .c-gamePlayer__stats {
  background-color: #c0bea1;
}

.c-gamePlayer--notTurn {
  background-color: #a1b1c0;
  width: 100%;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-gamePlayer--notTurn .c-gamePlayer__stats {
  background-color: #a1b1c0;
}

.c-gamePlayer__img {
  margin: 0 10px 0 20px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid black;
}

.c-gamePlayer__name {
  font-size: 22px;
  position: absolute;
  left: 85px;
}

.c-gamePlayer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-gamePlayer__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  z-index: 10;
  right: 5%;
  padding-right: 5px;
}

.c-gamePlayer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: auto;
  height: 26px;
}

.c-gamePlayer__icon--img {
  width: 25px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-gamePlayer__icon span {
  font-size: 24px;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .c-gamePlayer {
    margin-bottom: 20px;
    padding: 15px 0;
  }
  .c-gamePlayer .c-gamePlayer__stats {
    background-color: transparent;
  }
  .c-gamePlayer--notTurn {
    padding: 12px 0;
  }
  .c-gamePlayer--notTurn .c-gamePlayer__stats {
    background-color: transparent;
  }
  .c-gamePlayer__img {
    margin: 0 20px;
    height: 60px;
  }
  .c-gamePlayer__name {
    font-size: 28px;
    position: relative;
    left: auto;
  }
  .c-gamePlayer__icon {
    min-width: 60px;
    height: auto;
  }
  .c-gamePlayer__icon--img {
    width: 25px;
    margin-right: 10px;
  }
  .c-gamePlayer__icon span {
    font-size: 24px;
    margin-right: 10px;
  }
  .c-gamePlayer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .c-gamePlayer__stats {
    position: relative;
    right: auto;
    padding-right: 0px;
  }
}

.c-rolling__background {
  height: 100vh;
  width: 100%;
  background-color: grey;
}

.c-rolling__dices {
  top: 80px;
  position: absolute;
  background-color: lightgray;
  width: 450px;
  height: 200px;
  left: 5%;
  margin: auto;
}

.c-rolling__button {
  position: absolute;
  top: 550px;
  left: 45%;
}

.dice {
  vertical-align: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  padding: 0rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 20%;
          perspective-origin: 50% 20%;
}

.die-list {
  display: -ms-grid;
  display: grid;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-left: 20px;
  margin-right: 30px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 20px;
  list-style-type: none;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 20px;
}

.even-roll {
  -webkit-transition: -webkit-transform 0.85s ease-out;
  transition: -webkit-transform 0.85s ease-out;
  transition: transform 0.85s ease-out;
  transition: transform 0.85s ease-out, -webkit-transform 0.85s ease-out;
}

.odd-roll {
  -webkit-transition: -webkit-transform 0.75s ease-out;
  transition: -webkit-transform 0.75s ease-out;
  transition: transform 0.75s ease-out;
  transition: transform 0.75s ease-out, -webkit-transform 0.75s ease-out;
}

.die-item {
  -webkit-box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3), inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3), inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 100%;
  padding: 12px;
  width: 100%;
  overflow: hidden;
}

.die--green {
  background-color: green;
}

.die--yellow {
  background-color: #FFC332;
}

.die--red {
  background-color: red;
}

.even-roll {
  -webkit-transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
          transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.odd-roll {
  -webkit-transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
          transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}

.data-side-1 {
  -webkit-transform: rotate3d(0, 0, 0, 90deg) translateZ(24px);
          transform: rotate3d(0, 0, 0, 90deg) translateZ(24px);
}

.data-side-2 {
  -webkit-transform: rotate3d(-1, 0, 0, 90deg) translateZ(24px);
          transform: rotate3d(-1, 0, 0, 90deg) translateZ(24px);
}

.data-side-3 {
  -webkit-transform: rotate3d(0, 1, 0, 90deg) translateZ(24px);
          transform: rotate3d(0, 1, 0, 90deg) translateZ(24px);
}

.data-side-4 {
  -webkit-transform: rotate3d(0, -1, 0, 90deg) translateZ(24px);
          transform: rotate3d(0, -1, 0, 90deg) translateZ(24px);
}

.data-side-5 {
  -webkit-transform: rotate3d(1, 0, 0, 90deg) translateZ(24px);
          transform: rotate3d(1, 0, 0, 90deg) translateZ(24px);
}

.data-side-6 {
  -webkit-transform: rotate3d(1, 0, 0, 180deg) translateZ(24px);
          transform: rotate3d(1, 0, 0, 180deg) translateZ(24px);
}

@media only screen and (min-width: 768px) {
  .data-side-1 {
    -webkit-transform: rotate3d(0, 0, 0, 90deg) translateZ(2rem);
            transform: rotate3d(0, 0, 0, 90deg) translateZ(2rem);
  }
  .data-side-2 {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg) translateZ(2rem);
            transform: rotate3d(-1, 0, 0, 90deg) translateZ(2rem);
  }
  .data-side-3 {
    -webkit-transform: rotate3d(0, 1, 0, 90deg) translateZ(2rem);
            transform: rotate3d(0, 1, 0, 90deg) translateZ(2rem);
  }
  .data-side-4 {
    -webkit-transform: rotate3d(0, -1, 0, 90deg) translateZ(2rem);
            transform: rotate3d(0, -1, 0, 90deg) translateZ(2rem);
  }
  .data-side-5 {
    -webkit-transform: rotate3d(1, 0, 0, 90deg) translateZ(2rem);
            transform: rotate3d(1, 0, 0, 90deg) translateZ(2rem);
  }
  .data-side-6 {
    -webkit-transform: rotate3d(1, 0, 0, 180deg) translateZ(2rem);
            transform: rotate3d(1, 0, 0, 180deg) translateZ(2rem);
  }
  .die-list {
    height: 2rem;
    width: 2rem;
    margin-left: 20px;
    margin-right: 35px;
  }
  .die-item {
    padding: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */