.c-header {
  background-color: #0e0938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  z-index: 12;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 0px 30px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.c-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.c-header--logo {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.c-header--logo img {
  height: 80%;
}

.c-header--icon {
  display: block;
  width: 35px;
}

.c-header-mobile {
  background-color: #0e0938;
  position: fixed;
  width: 300px;
  height: 100%;
  right: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid;
}

.c-header-mobile--baseHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding: 0px 20px;
  border-bottom: 1px solid;
}

.c-header-mobile--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-bottom: 1px solid;
  cursor: pointer;
  font-size: 24px;
}

.c-header-mobile--icon {
  width: 22px;
  cursor: pointer;
}

.c-header-mobile--icon__rotate {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.c-header-mobile--icon__rotate2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
}

.c-header-mobile--option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  height: 60px;
  color: white;
  border-bottom: 1px solid;
  cursor: pointer;
  font-size: 24px;
}

.c-header-mobile--optionTitle {
  padding: 0px 20px;
  height: 60px;
  color: white;
  border-bottom: 1px solid;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  text-decoration: underline;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  font-size: 24px;
}

.c-header-mobile--option:hover {
  text-decoration: underline;
}

.c-header-mobileWrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 13;
  font-family: 'Pieces of Eight';
}

a:link {
  line-height: 24px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
 *  SCROLLBAR
 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #8598aa;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #8598aa;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8598aa;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0e0938), color-stop(#485d78), to(#0e0938));
  background-image: linear-gradient(to top, #0e0938, #485d78, #0e0938);
}

.opacity-off {
  opacity: 0;
  display: none !important;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.c-home {
  height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.c-home--logo {
  width: 55%;
}

.c-home--runes {
  position: absolute;
  width: 75%;
}

.c-home img {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 1;
}

.c-home .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.c-home .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.c-home .rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation: rotate 12s linear infinite;
  animation: rotate 12s linear infinite;
}

.c-home--presentation {
  position: absolute;
  color: white;
  text-align: center;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0;
  margin-top: 30vh;
  z-index: 2;
}

.c-home--presentation span {
  font-family: 'Pieces of Eight';
  font-size: 20px;
}

.c-home--background-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.c-gbutton__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 5px;
  padding-right: 15px;
  font-family: 'Pieces of Eight';
  font-size: 24px;
  background: radial-gradient(black, rgba(0, 0, 0, 0));
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.c-gbutton__home:hover {
  background-color: black;
}

.background-video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overflowHidden {
  overflow: hidden;
}

.notDisplay {
  display: none;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .c-home--logo {
    width: 30%;
  }
  .c-home--runes {
    width: 40%;
  }
  .c-home--presentation {
    margin-top: 45vh;
  }
}

.flip-card {
  background-color: transparent;
  width: 55px;
  height: 55px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.flip-card-inner {
  position: relative;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-flipped .flip-card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  width: 40px;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  z-index: 1;
}

.flip-card-back--green {
  background-color: green;
}

.flip-card-back--yellow {
  background-color: #FFC332;
}

.flip-card-back--red {
  background-color: red;
}

.flipped-card-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  z-index: 8;
}

.c-modal {
  background-color: gray;
  width: 70vw;
  height: 75vh;
  position: fixed;
  left: calc(15vw - 20px);
  top: 12.5vh;
  z-index: 9;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-modal__history--content {
  padding: 20px 30px 0 10px;
  overflow: auto;
  z-index: 4;
  margin-top: 280px;
  height: 38%;
  position: relative;
  font-family: 'Pieces of Eight';
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.c-modal__history--content span {
  font-size: 25px;
}

.c-modal--logo {
  position: absolute;
  z-index: 4;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-modal--cross {
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.c-modal--content {
  overflow: auto;
  height: 100%;
}

.c-modal--content p {
  font-size: 20px;
}

.c-modal--content h3 {
  font-size: 22px;
}

.c-cmodal {
  background-color: #e6e7e8;
  width: 70vw;
  height: 80vh;
  position: fixed;
  left: calc(15vw - 20px);
  top: 80px;
  z-index: 9;
  padding: 20px;
}

.c-cmodal--special {
  background-color: #e6e7e8;
  width: 60vw;
  position: fixed;
  left: calc(20vw - 20px);
  top: 90px;
  z-index: 9;
  padding: 20px;
}

.c-cmodal--content {
  padding-right: 10px;
  overflow: auto;
  height: calc(70vh - 80px);
  z-index: 4;
}

.c-cmodal--video {
  margin-top: 35px;
  width: 100%;
}

.c-cmodal--cross {
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.c-cmodal--cross:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.c-cmodal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  z-index: 8;
}

.c-cmodal--gallery {
  width: 100%;
}

.c-cmodal--gallery .image-gallery-image {
  height: 70vh;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.c-cmodal--gallery .image-gallery {
  height: 80vh;
}

.c-cmodal--gallery .image-gallery-thumbnail-image {
  height: 10vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-cmodal .owl-item {
  height: 80%;
}

.c-cmodal .owl-item .item {
  height: calc(90vh - 125px);
}

.c-cmodal .owl-item .item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.c-cmodal .owl-theme {
  margin-top: 30px;
}

.c-cmodal .owl-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  margin-top: 3px !important;
}

.c-cmodal .owl-nav button {
  width: 34px;
  height: 34px;
}

.c-cmodal .owl-nav button span {
  font-size: 28px;
}

.c-cmodal .owl-dots {
  position: absolute;
  margin-top: 15px;
  width: 50%;
  left: 25%;
  height: 10%;
}

.modal-background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -20px 0 0 -20px;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-slider {
  height: 93%;
  min-width: 100%;
  min-height: 93%;
}

.c-slider__text {
  color: white;
  display: block;
  font-family: 'Pieces of Eight';
  font-size: 24px;
  padding: 0 70px 0 70px;
  text-align: center;
  width: 100%;
}

.awssld__container {
  height: 100% !important;
  padding-bottom: 0px !important;
}

.c-room {
  height: 100vh;
  background-color: #8598aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  overflow: auto;
  position: relative;
  font-family: 'Pieces of Eight';
}

.c-room--title {
  margin-top: 70px;
  text-align: center;
  font-size: 32px;
  text-decoration: underline;
}

.c-room--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.c-room--game {
  width: 100%;
}

.c-room--players {
  background-color: #485d78;
  width: calc(100%-30px);
  height: 59%;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.c-room__chat-box {
  background-color: #485d78;
  height: 30%;
  width: calc(100%-30px);
  padding: 15px;
  border-radius: 5px;
}

.c-room__chat-box--in-game {
  background-color: #485d78;
  height: 16%;
  width: 90%;
  padding: 15px;
  border-radius: 5px;
  padding-bottom: 75px;
}

.c-room--chat {
  background-color: #a1b1c0;
  width: calc(100% - 30px);
  border-radius: 10px;
  height: 50%;
  padding: 5px 15px;
  overflow: auto;
}

.c-room--chat p {
  font-size: 20px;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.c-room--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.send-button {
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #263e5e;
  padding: 15px;
  font-size: 16px;
  font-family: 'Pieces of Eight';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 15px;
  border-radius: 7px;
  color: white;
  border: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.send-button:hover {
  background-color: #0e0938;
}

.c-chat {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-chat input {
  background: #e6e7e8;
  height: 38px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.Toastify__toast-container {
  width: 420px !important;
}

.Toastify__toast {
  font-family: 'Pieces of Eight' !important;
  font-size: 24px;
  text-align: center;
  line-height: 22px;
}

@media only screen and (min-width: 768px) {
  .c-room--game {
    height: 55%;
  }
}

@media only screen and (min-width: 1024px) {
  .c-room--game {
    width: 43%;
    height: auto;
  }
  .c-room--chat-box {
    width: 45%;
    height: 75%;
  }
  .c-room--top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .c-room--players {
    height: 60%;
    display: block;
  }
  .c-room--chat {
    height: 92%;
  }
}

.c-button {
  height: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #263e5e;
  padding: 15px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  border-radius: 7px;
  color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  text-align: center;
}

.c-button:hover {
  background-color: #0e0938;
}

.c-roomPlayer {
  background-color: #a1b1c0;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.c-roomPlayer__img {
  margin: 0 20px;
  height: 60px;
  border-radius: 50%;
}

.c-roomPlayer__name {
  font-size: 28px;
}

.c-roomPlayer__ready {
  font-size: 14px;
  margin-left: 25px;
}

.c-roomPlayer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-roomPlayer__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .c-roomPlayer__container {
    width: 49%;
  }
}

@media only screen and (min-width: 1024px) {
  .c-roomPlayer__container {
    width: 100%;
  }
}

.c-arrow {
  background-color: #0e0938;
  border: 1px solid gray;
  border-radius: 15%;
  position: fixed;
  bottom: 35px;
  right: 40px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-contact {
  background-color: #8598aa;
  height: 100%;
  min-height: calc(100vh - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px 20px;
  position: relative;
  font-family: 'Pieces of Eight';
}

.c-contact--title {
  margin-top: 70px;
  text-align: center;
  font-size: 32px;
  text-decoration: underline;
}

.c-contact__footer {
  background-color: black;
  width: 100%;
  min-height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-contact__footer span {
  padding: 7px;
  text-align: center;
  color: white;
  font-size: 18px;
}

.c-contact__presentation {
  margin-bottom: 20px;
  margin-right: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-contact__presentation--img {
  height: 160px;
  margin-right: 10px;
}

.c-contact__presentation p {
  font-size: 18px;
}

.c-contact--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-contact button {
  height: 30px;
  width: 100px;
  margin: auto;
  margin-top: 0px;
}

.c-social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.c-social-container img {
  width: 200px;
}

.c-social-container span {
  color: #0e0938;
  width: 100px;
}

.c-social-container:hover span {
  font-family: 'Avenir LT Std 85 Heavy';
}

@media only screen and (min-width: 768px) {
  .c-contact__presentation--img {
    height: 230px;
  }
  .c-contact__presentation span {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .c-contact__presentation {
    width: 47%;
  }
  .c-contact__presentation--img {
    height: 300px;
  }
  .c-contact__presentation span {
    font-size: 24px;
  }
}

.c-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  max-width: 100%;
  margin-bottom: 60px;
}

.c-form--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-form--checkbox label {
  margin-left: 15px;
  margin-top: 4px;
  font-size: 22px;
}

.c-form--checkbox input {
  background-color: #e6e7e8;
  border-radius: 5px;
  border: none;
  margin: 10px 0px;
  height: 17px;
  padding: 10px 10px;
  width: 17px;
}

.c-form--error {
  border: 2px solid #b50000 !important;
}

.c-form--privacy {
  cursor: pointer;
}

.c-form--privacy:hover {
  cursor: pointer;
  text-decoration: underline;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e7e8;
  border: none;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

input {
  background-color: #e6e7e8;
  border-radius: 5px;
  border: none;
  margin: 10px 0px;
  height: 12px;
  padding: 10px 10px;
}

@media only screen and (min-width: 1024px) {
  .c-form {
    margin-bottom: 0px;
  }
}

.c-game {
  height: 100vh;
  background-color: #8598aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
  position: relative;
  font-family: 'Pieces of Eight';
}

.c-game--title {
  margin-top: 65px;
  text-align: center;
  font-size: 32px;
  text-decoration: underline;
  text-shadow: 0 0 0.2em #FFF;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.c-game__players {
  background-color: #485d78;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-game__players--players {
  margin-top: 10px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-game__game {
  background-color: #8598aa;
  width: 50%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-game__exit {
  position: absolute;
  bottom: 10px;
}

.c-game__actions {
  background-color: #485d78;
  width: 400px;
  position: relative;
}

.c-game__actions--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.c-game__actions--value {
  background-color: #1c193d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 40%;
  right: 30%;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 2px solid #a1b1c0;
  border-bottom: none;
}

.c-game__actions--value span {
  font-size: 36px;
  margin-left: 20px;
  color: white;
}

.c-game__actions--valknut {
  width: 40px;
}

.c-game__dices {
  background-color: #485d78;
  width: 90%;
  padding: 10px 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
  border-radius: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-game__selectedDices {
  width: 250px;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  background-color: #485d78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-game__selectedDices span {
  color: white;
  margin: 5px;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
}

.c-game__selected-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
}

.c-game__interface {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-action {
  width: 85%;
  background-color: #8598aa;
  border-radius: 5px;
  position: relative;
  margin-bottom: 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.c-action__info {
  text-align: center;
  padding: 10px 15px;
}

.c-action__info span {
  color: black;
}

.c-action__cost {
  background-color: #263e5e;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #a1b1c0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -19px;
  top: -19px;
  color: white;
}

.c-action:hover {
  background-color: #1a3150;
}

.c-action:hover .c-action__info span {
  color: white;
}

.c-action:active {
  background-color: #1c193d;
}

.c-action:active .c-action__info span {
  color: #9198e5;
}

.c-action:active .c-action__cost {
  background-color: #1c193d;
  border: 2px solid #8598aa;
  color: #9198e5;
}

.c-gamePlayer {
  background-color: #a1b1c0;
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 15px 0;
}

.c-gamePlayer--notTurn {
  width: 90%;
  padding: 12px 0;
}

.c-gamePlayer__img {
  margin: 0 20px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
}

.c-gamePlayer__name {
  font-size: 28px;
}

.c-gamePlayer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-gamePlayer__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-gamePlayer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
}

.c-gamePlayer__icon--img {
  width: 25px;
  margin-right: 10px;
}

.c-gamePlayer__icon span {
  font-size: 24px;
}
/*# sourceMappingURL=main.css.map */