.flip-card {
    background-color: transparent;
    width: 41px;
    height: 41px;
    perspective: 1000px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .flip-card-inner {
    position: relative;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card-flipped .flip-card-inner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon{
    width: 32px;
    margin-top: 1px;
  }
  
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    font-size: 13px;
    z-index: 1;
    &--green{
        background-color: c('green'); 
    }
    &--yellow{
        background-color: c('yellow'); 
    }
    &--red{
        background-color: red; 
    }
    &--blue{
      background-color: c('blue'); 
    }
    &--purple{
      background-color: c('purple'); 
    }
    
  }
  
.flipped-card-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@include medium {
  @import'medium';
}
@include large {
  @import'large';
}